<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Atendimento T.I</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../img/logo-hospital-dom-orione-.svg" alt="">
                <h2>Controle de Atendimento</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-user"></i>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-calendar"></i> 
                        <a href="gerenciarcontrole.html">Controle De Atendimento</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-file-lines"></i>
                        <a href="#">Tipo de Atendimento</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <a href="#">Atendente</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-pen"></i>
                        <a href="#">Relatorio</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-clipboard"></i>
                        <a href="#">Setor Atendido</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chart-simple"></i>
                        <a href="#">Status</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="dashboard.html"> <i class="fa-solid fa-house-user"></i> Dashboard</a>
                <a href="../index.html"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </header>
            <div class="main-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, mollitia! Excepturi, deleniti. Quibusdam, quas iure id nisi quam repudiandae aperiam aspernatur quaerat, dicta enim nam possimus, voluptatem optio! Nam, repudiandae.</p>
            </div>
        </main>
    </div>


    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>