<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Atendimento T.I</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
</head>

<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
              <img src="../img/logo-hospital-dom-orione-.svg" alt="">
              <h2>Cadastro Usuário</h2>
              <h2>Controle De Atendimento</h2>  
            </div>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name"placeholder="Nome completo">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite o email">
                </div>
                <div class="mb-3">
                    <label for="password" class="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite a sua senha">
                </div>
                <button type="submit" class="btn">Cadastrar</button>
            </form>
        </div>
    </div>


    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>